<h1> Results Page!!!</h1>

   
                <h4><%= data["Response"]["View"][0].Result[0].Location.DisplayPosition.Latitude %></h4>
                <h4><%= data["Response"]["View"][0].Result[0].Location.DisplayPosition.Longitude %></h4>
                
    